<html>

<head>
	<meta charset="utf-8">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

      google.charts.load('current', {'packages':['line']});

      google.charts.setOnLoadCallback(drawChart);

 

    function drawChart() {

 

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'День');

      data.addColumn('number', 'Пришло заявок');

      data.addColumn('number', 'Закрыто заявок');

      data.addColumn('number', 'Закрыто согласно SLA');

 

      data.addRows([

<WeekResult>
         ]);

 

      var options = {

        chart: {

          title: 'Уровень сервиса за последнюю неделю',
		  subtitle: 'Дата формирования отчета <CurrentDate>'

        },

        width: 900,

        height: 500,

        axes: {

          x: {

            0: {side: 'bottom'}

          }

        },

                               legend: 'none',

          series: {

            0: { color: '#FF0000' },

            1: { color: '#0000FF' },

            2: { color: '#008000' },

          }

 

      };

 

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

 

      chart.draw(data, options);

    }

  </script>
<script type="text/javascript">

      google.charts.load('current', {'packages':['line']});

      google.charts.setOnLoadCallback(drawChart);

 

    function drawChart() {

 

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'День');

      data.addColumn('number', 'Пришло заявок');

      data.addColumn('number', 'Закрыто заявок');

      data.addColumn('number', 'Закрыто согласно SLA');

 

      data.addRows([

<WeekResultForGroup>
         ]);

 

      var options = {

        chart: {

          title: 'Уровень сервиса для магазинов за последнюю неделю',

          subtitle: 'Дата формирования отчета <CurrentDate>'

        },

        width: 900,

        height: 500,

        axes: {

          x: {

            0: {side: 'bottom'}

          }

        },

                               legend: 'none',

          series: {

            0: { color: '#FF0000' },

            1: { color: '#0000FF' },

            2: { color: '#008000' },

          }

 

      };

 

      var chart = new google.charts.Line(document.getElementById('line_group_top_x'));

 

      chart.draw(data, options);

    }

  </script>
</head>

<body>
	Всего открыто заявок <TotalOpened> , закрыто заявок <TotalClosed>, закрыто по SLA <TotalClosedInSla> ,<br> неклассифицированно <TotalUnclassified>, уровень сервиса - <TotalSLALevel>%
	<div id="line_top_x"></div>
	Всего по магазинам открыто заявок <TotalGroupOpened> , закрыто заявок <TotalGroupClosed>, закрыто по SLA <TotalGroupClosedInSla> ,<br> неклассифицированно <TotalGroupUnclassified>, уровень сервиса - <TotalGroupSLALevel>%
	<div id="line_group_top_x"></div>
</body>

</html>